@model List<A>
@{
    ViewData["Title"] = "Home Page";
}

<div class="General">
    <div class="Users">
        Документы
    </div>
    <div class="divMenu">
        <div class="imgButton" style="margin: 0 10px 0 10px; font-family: Arial; font-size: 12px;"><a href="/home/index1">Два поля</a></div>
    </div>
    <div class="divTable">
        <table id="myTable">
            <tr class="header">
               
                <th>
                    Название документа
                </th>
                

            </tr>
            @foreach (var item in Model)
            {
                <tr position="Roman">
                   
                    <td>
                        <a href="@item.Link">@item.Name</a>
                    </td>
                   
                </tr>
            }

        </table>
    </div>
</div>


